html {
  height: 100%;
  width: 100%;
}

.fade-out {
  transition: opacity 1s ease-out;
  opacity: 0;
  visibility: hidden;
}

body {
  /* This will fix the position of the body and cover the full viewport */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;

  /* This will prevent the overflow */
  overflow: hidden;

  /* This will prevent any zooming */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;

  /* Full viewport width and height */
  width: 100vw;
  height: 100vh;
}